<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WeatherFlowApiSwift-OSX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WeatherFlowApiSwift-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6412D01C1DA7857E00E861F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6412D0241DA7857E00E861F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>647C0B8D1C2D47A5002C5A42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>647C0BA11C2D5E62002C5A42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>647C0BAA1C2D5E62002C5A42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>647C0BD01C2FF08B002C5A42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>647C0BD91C2FF08C002C5A42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>647C0BFE1C2FF0F0002C5A42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>647C0C071C2FF0F0002C5A42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
